SLACK_CLIENT_ID=YOUR_SLACK_CLIENT_ID
SLACK_CLIENT_SECRET=YOUR_SLACK_CLIENT_SECRET
SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
LUNCH_CHANNEL_ID=YOUR_LUNCH_CHANNEL_ID
HOTPEPPER_API_KEY=YOUR_HOTPEPPER_API_KEY
GOOGLE_PLACES_API_KEY=YOUR_GOOGLE_PLACES_API_KEY
